version: "3"

services:
  mysql:
    container_name: senzing-mysql
    environment:
      # See https://hub.docker.com/_/mysql/ "Environment Variables"
      MYSQL_DATABASE: G2
      MYSQL_NATIVE_PASSWORD: "ON"
      MYSQL_PASSWORD: mysql
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: mysql
    image: mysql:${SENZING_DOCKER_IMAGE_VERSION_MYSQL:-latest}
    networks:
      - senzing
    ports:
      - 3306:3306
    restart: always

  phpmyadmin:
    container_name: senzing-phpmyadmin
    depends_on:
      - mysql
    environment:
      DATABASE_HOST: mysql
    image: phpmyadmin:${SENZING_DOCKER_IMAGE_VERSION_PHPMYADMIN:-latest}
    networks:
      - senzing
    ports:
      - 9173:8080
    restart: always

  mysql-init:
    container_name: senzing-mysql-init
    depends_on:
      - mysql
    environment:
      SENZING_TOOLS_DATABASE_URL: "mysql://mysql:mysql@mysql:3306/G2"
    image: senzing/init-database:${SENZING_DOCKER_IMAGE_VERSION_INIT_DATABASE:-latest}
    networks:
      - senzing
    restart: on-failure

networks:
  senzing:
    name: ${SENZING_DOCKER_NETWORK:-senzing-network}
