name: senzing-sqlite-demo

services:
  sqlite-web:
    container_name: senzing-sqlite-web
    environment:
      SQLITE_DATABASE: "G2C.db"
    image: coleifer/sqlite-web:${SENZING_DOCKER_IMAGE_VERSION_COLEIFER_SQLITE_WEB:-latest}
    networks:
      - senzing
    ports:
      - 9174:8080
    restart: always
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - sqlite-volume:/data

  sqlite-init:
    container_name: senzing-sqlite-init
    environment:
      SENZING_TOOLS_DATABASE_URL: "sqlite3://na:na@/data/G2C.db"
      SENZING_TOOLS_DATASOURCES: "CUSTOMERS, REFERENCE, WATCHLIST"
    image: senzing/init-database:${SENZING_DOCKER_IMAGE_VERSION_SENZING_INIT_DATABASE:-latest}
    networks:
      - senzing
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - sqlite-volume:/data

networks:
  senzing:
    name: ${SENZING_DOCKER_NETWORK:-senzing}

volumes:
  sqlite-volume:
