services:
  makefile:
    container_name: senzing-makefile
    command:
      - sh
      - -c
      - echo "$${FILE_CONTENTS}" >> /output/odbc.ini
    environment:
      FILE_CONTENTS: |
        [G2]
        Database = G2
        Description = Senzing MS SQL database for G2
        Driver = ODBC Driver 17 for SQL Server
        Server = senzing-mssql,1433
    image: busybox:${SENZING_DOCKER_IMAGE_VERSION_BUSYBOX:-latest}
    networks:
      - senzing
    read_only: true
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - odbcini-volume:/output

  mssql:
    container_name: senzing-mssql
    environment:
      # See https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-configure-environment-variables
      ACCEPT_EULA: Y
      MSSQL_PID: Developer
      MSSQL_SA_PASSWORD: Passw0rd
    image: mcr.microsoft.com/mssql/server:${SENZING_DOCKER_IMAGE_VERSION_MSSQL_SERVER:-2025-latest}
    networks:
      - senzing
    ports:
      - 1433:1433
    restart: always
    volumes:
      - odbcini-volume:/var/opt/senzing

  mssql-create-db:
    command:
      - /opt/mssql-tools18/bin/sqlcmd
      - -C
      - -P
      - Passw0rd
      - -Q
      - "CREATE DATABASE G2"
      - -S
      - senzing-mssql,1433
      - -U
      - sa
    container_name: senzing-mssql-create-database
    depends_on:
      - mssql
    image: mcr.microsoft.com/mssql/server:${SENZING_DOCKER_IMAGE_VERSION_MSSQL_SERVER:-2025-latest}
    networks:
      - senzing
    restart: on-failure

  adminer:
    container_name: senzing-adminer
    environment:
      ADMINER_DEFAULT_SERVER: senzing-mssql
    image: senzing/adminer:${SENZING_DOCKER_IMAGE_VERSION_ADMINER:-latest}
    networks:
      - senzing
    ports:
      - 9177:8080
    restart: always

  mssql-init:
    container_name: senzing-mssql-init
    depends_on:
      - mssql
    environment:
      SENZING_TOOLS_DATABASE_URL: "mssql://sa:Passw0rd@senzing-mssql:1433/G2"
    image: senzing/init-database:${SENZING_DOCKER_IMAGE_VERSION_INIT_DATABASE:-latest}
    networks:
      - senzing
    restart: on-failure

networks:
  senzing:
    name: ${SENZING_DOCKER_NETWORK:-senzing}

volumes:
  mssql-volume:
  odbcini-volume:
