version: "3"
services:
  oracle:
    container_name: senzing-oracle
    environment:
      # See https://container-registry.oracle.com/ords/ocr/ba/database/free
      ORACLE_PWD: Passw0rd
    image: container-registry.oracle.com/database/free:${SENZING_DOCKER_IMAGE_VERSION_ORACLE_FREE:-latest}
    networks:
      - senzing
    ports:
      - 1521:1521
    restart: always

  oracle_client:
    container_name: senzing-oracle-client
    image: ghcr.io/oracle/oraclelinux9-instantclient:23@sha256:d233ca938894b4986c54fc58c38705d584cfe3c2b778d516f6c717024b8da8b6
    networks:
      - senzing

  oracle-init:
    container_name: senzing-oracle-init
    depends_on:
      - oracle
    environment:
      SENZING_TOOLS_DATABASE_URL: "oci://pdbadmin:Passw0rd@oracle:1521/FREEPDB1"
    image: senzing/init-database:${SENZING_DOCKER_IMAGE_VERSION_INIT_DATABASE:-latest}
    networks:
      - senzing
    restart: on-failure

networks:
  senzing:
    name: ${SENZING_DOCKER_NETWORK:-senzing}
