name: Go test windows

on: [pull_request, workflow_dispatch]

env:
  SENZING_TOOLS_DATABASE_URL: "sqlite3://na:na@nowhere/C:\\Temp\\sqlite\\G2C.db"

permissions:
  contents: read

jobs:
  go-test-windows:
    name: "Go test with Senzing: ${{ matrix.senzingsdk-version }}; OS: ${{ matrix.os }}; Go: ${{ matrix.go }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: ["1.21"]
        os: [windows-latest]
        senzingsdk-version: [staging-v4]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: Set up gotestfmt
        uses: gotesttools/gotestfmt-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      # - name: Copy /opt/senzing/er/resources/ files
      #   run: |
      #     Copy-Item -Path c:\test\ -Destination c:\test2\ -Recurse
      #       cp --verbose --recursive rootfs/* /

      - name: Install Senzing SDK
        uses: senzing-factory/github-action-install-senzing-sdk@v2
        with:
          senzingsdk-repository-path: ${{ secrets.SENZING_WIN_BETA_REPOSITORY }}

      # - name: install senzingapi-setup
      #   run: |
      #     sudo SENZING_ACCEPT_EULA=I_ACCEPT_THE_SENZING_EULA apt-get -y install senzingapi-setup
      #     sudo apt list | grep senzing
      #     owner="$(whoami)"
      #     sudo chown -R "${owner}":"${owner}" /opt/senzing

      - name: Add to "Path" environment variable
        run: |
          # shellcheck disable=SC2028
          echo "C:\Program Files\Senzing\er\lib" >> "$env:GITHUB_PATH"

      - name: Create empty database file
        run: |
          mkdir "C:\Temp\sqlite"
          New-Item -Path "C:\Temp\sqlite\G2C.db" -ItemType File

      - name: Run go test
        run: |
          go test -json -v -p 1 -coverprofile=cover -covermode=atomic -coverpkg=./... ./... 2>&1 | tee "C:\Temp\gotest.log" | gotestfmt
          cp cover cover.out

      - name: Store coverage file
        uses: actions/upload-artifact@v4
        with:
          name: cover.out
          path: cover.out

      - name: Upload test log
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-log
          path: "C:\\Temp\\gotest.log"
          if-no-files-found: error

  coverage:
    name: Coverage
    needs: go-test-windows
    uses: senzing-factory/build-resources/.github/workflows/go-coverage.yaml@v2
    with:
      coverage-config: ./.github/coverage/testcoverage.yaml
